body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #F2C38B, #B35550);
    /* height: 100vh; */
    align-items: center;
    margin: 0;
}

.register-container {
    background: white;
    padding: 40px 30px; /* Increased top/bottom padding */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    min-height: 280px; /* Added a minimum height */
    animation: fadeIn 1s ease-in-out;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 22px;
}

.blink {
    color: #B65651;
    transition: 0.5s;
    font-weight: bold;
    animation: blink 2.5s infinite ease-in;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    70% { opacity: 1; }
    80% { opacity: 0.5; }
    100% { opacity: 1; }
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 16px;
}

input:focus {
    border-color: #B65651;
    box-shadow: 0 0 8px rgba(182, 86, 81, 0.5); 
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 10px;
}

.toggle-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #74353F;
}

.toggle-password:hover {
    color: #B65651;
}

button {
    margin-top: 20px;
    padding: 10px;
    background: #B65651;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

button:hover {
    background: #994944;
    transform: scale(1.05);
}
