/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
    margin:  0;
    padding: 0;
    text-align: center;
}

.book-section{
    padding: 40px 0;
}

/* Table Styling */
table {
    width: 80%;
    margin: 30px auto;
    color: #000; /* Text color */
    border: 1px solid white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 15px;
    font-weight: 500;
    border: 1px solid #dee2e6 ;
}

th {
    background-color: #C25B55; 
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

tr:hover {
    background-color: #d9a16d; /* Hover effect */
    color: #fff;
    transition: 0.3s ease-in-out;
}